<div class="card">
    <div class="card-header">
        <h4>User #{{ctrl.user.name}}</h4>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label>Nama</label>
            <input type="text" name="name" class="form-control" ng-model="ctrl.user.name">
            <label>Email</label>
            <input type="email" name="name" class="form-control" ng-model="ctrl.user.email">
            <label>Role</label>
            <input type="text" name="name" class="form-control" ng-model="ctrl.user.role">
            <label>Foto selfie</label>
            <br>
            <img ng-src="{{ctrl.user.image_url}}" style="width: 300px;height: 220px !important;" alt="">
        </div>
    </div>
    <div class="card-footer text-right">
        <button class="btn btn-primary" ng-click="ctrl.store(ctrl.user)"><i class="fas fa-save"></i> Simpan</button> &nbsp;
    </div>
</div>