<div class="row">
  <div class="col-sm-12">
      <h5>User List</h5>
      <hr>
      <div class="table-responsive">
          <table class="table table-sm table-bordered"> 
              <thead>
                  <th>No</th>
                  <th>Nama</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th>Aksi</th>
              </thead>
              <tbody>
                  <tr ng-repeat="user in ctrl.users">
                      <td>{{$index+1}}</td>
                      <td>{{user.name}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.approved ? 'Approve' : 'Belum'}}</td>
                      <td>
                          <button class="btn btn-sm btn-danger">Hapus</button>
                          <button ng-if="!user.approved" ng-click="ctrl.approve(user)" class="btn btn-sm btn-success">Approve</button>
                          <button ng-if="user.approved" ng-click="ctrl.unapprove(user)" class="btn btn-sm btn-info">Unapprove</button>
                          <a class="btn btn-primary" ui-sref="userShow({id:user.id})">Lihat</a>

                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>